@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");

:root {
  --primary-color: #1d1d1d;
  --secondary-color: #5479e9;

  font-family: "Inter", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: #f6f5f4;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.search-bar {
  display: flex;
  width: fit-content;
  border-radius: 2rem;
  background-color: #e5e6ea;

  & input,
  & button {
    border: none;
    background-color: transparent;
    padding: 0.6rem;

    &:focus {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      outline: 2px solid var(--secondary-color);
    }
  }

  & input {
    padding-left: 1rem;
  }

  & button:focus {
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

.pokemon-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  font-size: 0.9rem;

  & section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
  }

  & section:nth-of-type(1) {
    padding-bottom: 2rem;
  }

  & h2 {
    font-size: 1.8rem;
    margin: 0;
    letter-spacing: 0.5rem;
  }

  & h3 {
    font-size: 1rem;
  }

  & td {
    text-align: right;
    margin: 0.4rem;
  }

  & td:nth-last-of-type(1) {
    text-align: left;
    padding-left: 1rem;
    display: flex;
  }

  & section:nth-of-type(2) {
    & td {
      margin: 0.6rem;
    }
  }

  & .ability,
  .type {
    color: white;
    padding: 0.25rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    font-weight: 500;
  }

  & .ability {
    font-size: 0.7rem;
    font-weight: 600;
  }

  & .type {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  & .icon {
    height: 16px;
    margin-left: 0.3rem;
  }
}
