@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

:root {
  --primary-color: #1d1d1d;
  --secondary-color: #5479e9;

  font-family: "Inter", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: #f6f5f4;
}

/* .app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

.search-bar {
  display: flex;
  width: fit-content;
  border-radius: 2rem;
  background-color: #e5e6ea;

  & input,
  & button {
    border: none;
    background-color: transparent;
    padding: 0.6rem;

    &:focus {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      outline: 2px solid var(--secondary-color);
    }
  }

  & input {
    padding-left: 1rem;
  }

  & button:focus {
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
